@CHARSET "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
body {
	/*background: url(../images/bg.jpg) no-repeat center center fixed;*/
	/*BODY COLOR*/
	background-color: #F3F4F4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	max-width: 460px;
}
.login-form > section {
	padding: 35px 35px 25px 35px;
	border-radius: 5px;
}
.login-form a {
	/*Reset password create account FONT COLOR*/
	color: #58595B;
}
.login-form img {
	display: block;
	margin: 0 auto;
	margin-bottom: 55px;
}

form[role=login] {
	font: 16px/2.2em Lato, serif;
	/*OR FONT COLOR*/
	color: #0093D8;
}	
form[role=login] input,
form[role=login] > button {
	font-size: 16px;
	padding: 10px 30px;
}
form[role=login] input {
	height: 2.6em;
	padding: 10px 40px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
	-moz-box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
	box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
}
form[role=login] > div {
	margin: 30px 0;
	position: relative; 
}
form[role=login] > button {
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-control + .glyphicon {
    position: absolute;
    left: 0;
	top: 14%;
    padding: 8px 0 0 17px;
	font-size: 16px;
	/*ICON COLOR*/
	color: #757575;
}



/* -- {Social Icon} -- */
.socialicon {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 5px 5px 0px 5px;
	/* background-color: #464646; */
	border: 2px solid #58595B;
	cursor: pointer;
}
.socialicon:hover {
	background-color: #0093D8;
}
.socialicon p {
	/* margin-top | margin-right | margin-bottom | margin-left */
	margin: 2px auto 0px auto;
	font-size:15px;
	color: #58595B;
}

/* Button */
.btn-primary{
background-color:#383838;
border-radius:0px !important;
}

/*=========== Input Field ===========*/
.form-control {
border-radius: 0px !important;
}